<h1>List of movies</h1>
<% if user_signed_in?  %>
  <%= link_to "Create", new_admin_movie_path(@artist) %>
<% end %>

<ul>
  <% @movies.each do |movie| %>
    <li>      
    
      <%= link_to(movie.title, admin_movie_url(movie.id)) %>

      <% if user_signed_in?  %>
        <%= link_to "Edit", edit_admin_movie_path(movie) %>
      <% end %>

      <% if user_signed_in?  %>
        <%= link_to "Delete", admin_movie_path(movie), method: :delete, data: { confirm: "Really delete the movie?" } %>
      <% end %>      
      
      <p><%= movie.description %></p>
      <p><%= movie.rating %></p>
      <p><%= movie.duration %></p>
      <p><%= movie.price %></p>
      <p><%= movie.status %></p>
      <p><%= movie.progress %></p>
    </li>
    </br>
    </br>
  <% end %>
</ul>

